:root {
    --primary-background: #F6F6FA;
    --purple-background: #6725A8;
    --white-text: #FFF;
    --active-button: #CB11AB;
    --color-grey: #A0A0A4;
    --color-red: #FF3B30;
    --price-sale: #A0A0A4;
    --color-green: #0CB477;
}

.absent {
    margin: 0;
    padding: 0;
    width: 891px;
}

.absent__details {
    display: flex;
    justify-content: space-between;
}

.absent__title {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.arrow {
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
}

.absent__container {
    margin: 0;
    padding: 0;
    margin-bottom: 56px;
}

.absent__card {
    display: flex;
    flex-direction: column;
}

.absent__card-container {
    display: flex;
    margin-bottom: 32px;
}

.absent__card-container:last-child {
    margin-bottom: 0;
}

.absent__image {
    margin: 0;
    padding: 0;
    width: 72px;
    height: 96px;
    margin-right: 16px;
}

.absent__info {
    margin: 0;
    padding: 0;
    width: 309px;
}

.absent__name {
    margin: 0;
    padding: 0;
    font-family: Segoe UI;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 8px;
    color: var(--color-grey);
}

.absent__items {
    margin: 0;
    padding: 0;
    font-family: Segoe UI;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: var(--color-grey);
}

.adsent__button {
    margin: 0;
    padding: 0;
    margin-left: 202px;
    width: 100px;
    text-align: end;
}

.absent__like {
    margin: 0;
    padding: 0;
    border: none;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 14px;
    background-image: url(../../images/like.svg);
    background-color: var(--primary-background);
    cursor: pointer;
}

.absent__delete {
    margin: 0;
    padding: 0;
    border: none;
    background-image: url(../../images/del.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-color: var(--primary-background);
}

.absent__info-cont {
    display: flex;
}

@media screen and (max-width: 900px) {
    .absent {
        width: 45em;
    }
}

@media screen and (max-width: 700px) {

    .absent__info-cont {
        display: flex;
        flex-direction: column;
    }

    .cart__title {
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.2px;
    }

    .card {
        position: relative;
        height: 185px;
        width: 100%;
    }

    .card__input {
        position: absolute;
        top: -37px;
    }

    .card__image {
        margin: 0;
        margin-right: 16px;
    }

    .cart__container {
        display: flex;
        flex-direction: column;
    }

    .cart__items {
        width: 100%;
    }

    .grey__container {
        display: none;
    }

    .card__counter-one {
        position: absolute;
        flex-direction: column-reverse;
    }

    .card__counter {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        gap: 16px;
        width: 100%;
        padding-top: 102px;
    }

    .card__counter-buttons {
        position: inherit;
    }

    .card__title {
        margin: 0;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-top: 24px;
    }

    .card__info {
        margin-right: 0;
    }

    .size {
        display: none;
    }

    .absent__name {
        margin-top: 0;
    }

    .adsent__button {
        padding-top: 74px;
        margin-left: 102px;
    }
}